<div class="icons">
   <a class="icon-bar" href="https://www.linkedin.com/in/everett-yeaw/"><i class="fa fa-linkedin"></i></a><br>
   <a class="icon-bar "href="https://github.com/eveyv"><i class="fa fa-github"></i></a>
</div>
<div class="home-content center-column">
  <h1>About</h1>
    <p>
      This site is a work in progress; thanks for checking it out!
    </p>
</div>
<div class="home-content center column">
  <h1>Work</h1>
    <ul>
      <li>
        <%= link_to "Tetris", "https://game-tetris-js.herokuapp.com/", class: "project" %>
        <p>
          - Tetris using vanilla Javascript for gameplay (board and piece logic) + simple html/css for interface. Heroku is running the app as a PHP application though the creation of index.php and composer.json files into root directory.
          <a href="https://github.com/eveyv/tetris">source-code</a>
        </p>
      </li>
      <br>
      <li>
        <%= link_to "Adventure.NE", "https://adventure-new-eng.herokuapp.com/", class: "project" %>
        <p>
          - Work-in-progress: React front-end/ rails back-end with postgresql database.  User can add destination to list of 6 New England States.  Will add functionality for user sessions, ability to rate and review destinations, ability to create trips, and will integrate 3rd party weather api for suggestions based on weather.
          <a href="https://github.com/eveyv/adventure-app-react">source-code</a>
        </p>
      </li>
      <br>
      <li>
        <%= link_to "StarWars Travel Planner", "https://secret-tor-45316.herokuapp.com/", class: "project" %>
        <p>
          - A pair-programming project.  We utilize a React frontend, a Rails backend and Postgresql for our database. A user can sign up, log in, and create a trip that persists in the backend.
          <a href="https://github.com/eveyv/starwars-travel-planner">source-code</a>
        </p>
      </li>
    </ul>
</div>
