<div class="icons">
  <a class="icon-bar" href="https://www.linkedin.com/in/everett-yeaw/"><i class="fa fa-linkedin"></i></a><br>
  <a class="icon-bar "href="https://github.com/eveyv"><i class="fa fa-github"></i></a>
</div>
<div class="home-content">
  <div class="bg">
    <br/>
    <h1 class="section-title page-title">About</h1>
    <p class="text-content">
      This site is a work in progress; thanks for checking it out!
    </p>
    <div>
      <h1 class="section-title">Work</h1>
        <ul>
          <li><%= link_to "Tetris", "https://game-tetris-js.herokuapp.com/", class: "external-link" %>
            <p class="text-content">
              - Tetris using vanilla Javascript for gameplay (board and piece logic) + html/css for interface. Heroku is running the code as a PHP application though the creation of index.php and composer.json files into root directory.
              <a href="https://github.com/eveyv/tetris" class="source-code-link">source-code</a>
            </p>
          </li>
          <br>
          <li><%= link_to "Adventure.NE", "https://adventure-new-eng.herokuapp.com/", class: "external-link" %>
            <p class="text-content">
              - Work-in-progress: React front-end/ rails back-end with postgresql database.  User can add destination to list of 6 New England States.  Will add functionality for user sessions, ability to rate and review destinations, ability to create trips, and will integrate 3rd party weather api for suggestions based on weather.
              <a href="https://github.com/eveyv/adventure-app-react" class="source-code-link">source-code</a>
            </p>
          </li>
          <br>
          <li><%= link_to "Pokemon Trivia", "https://pokemon-trivia-react.herokuapp.com/", class: "external-link" %>
            <p class="text-content">
              - A trivia game with 10 questions. Uses .node to run; logic is written in question.js as a React component. Questions are created through use of a .json file which is read with webpacker and loaded into the question depending on the index of the data. Overall a simple but fairly scalable app that I hope to expand into rounds with user experiences over time. This is part of my effort into understanding .node and react more thoroughly.
              <a href="https://github.com/eveyv/pokemon-trivia" class="source-code-link">source-code</a>
            </p>
          </li>
      </ul>
    </div>
  </div>
</div>
