<div class="home-content">
  <h3>About</h3>
    <p class="about">
      I'm an aspiring software engineer and I couldn't be more excited about the prospect of finally working to solve problems with logic and code professionally.
      <br><br>
       I hope to flush out content, functionality and aesthetics over time.
    </p>
  <br>
  <h3>Work</h3>
    <div class="gallery">
      <ul>
        <li>
          <%= link_to "StarWars Travel Planner", "https://secret-tor-45316.herokuapp.com/", class: "project" %>
            <p class="work-description">
              - A pair-programming capstone project.  We utilize a React frontend, a Rails backend and PostGresSQL for our database. A user can sign up, log in, and create a trip that persists in the backend.
            </p>
        </li>
        <li>
          <%= link_to "Rescue Mission- Rails Database Relationships", "https://github.com/eveyv/high-card-dealer-ruby", class: "project" %>
            <p class="work-description">
              - Rails app where user can add post, and edit questions as well as view and answer them on a show page.  Data is persisted in a Postgres database.
            </p>
        </li>
        <li>
          <%= link_to "Simple OOP-Randomized-High-Card-Game", "https://github.com/eveyv/high-card-dealer-ruby", class: "project" %>
           <p class="work-description">
             - Simple app built to demonstrate an understanding of OOP. Done using POROs.
           </p>
        </li>
      </ul>
    </div>
    <br>
  <h3>Insight</h3>
    <div class="badge-container">
      <div class="row">
        <div class="column">
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="everett-yeaw"><a class="LI-simple-link" href='https://www.linkedin.com/in/everett-yeaw?trk=profile-badge'>Everett Yeaw</a></div>
        </div>
        <div class="column">
          <div class="gh-wrapper">
            <div class="github-card" data-github="eveyv" data-width="400" data-height="" data-theme="default"></div>
          </div>
        </div>
      </div>
    </div>
</div>
