
<div class="center-column">
  <h1 class="title">Background</h1>
    <p>
      I finished college with a degree in Communications and while I am grateful for my experience and what I learned, the minor I completed in Computing Technology and Applications ended up providing me with the foundation for my subsequent endeavors into learning to code.
    </p>
    <br>
    <p>
      I was able to get my feet wet with HTML while dabbling in basic CSS along the way.  It wasn't until my time at Launch Academy that I really dove head-first into Ruby and Javascript and immediately gained an immense appreciation for the vastness of the field.
    </p>
    <br>
    <p>
      While there are no shortages of challenges to be had in learning something new, the biggest challenge for me in learning a programming language and approaching an issue is to be mindful that I utilize my time and resources wisely when trying to understand how to solve a problem.
    </p>
    <br>
    <p>
      There were many attractive aspects about the field of software engineering and web development as a whole but the most attractive to me remains the ability to possess, develop and utilize an array of quantifiable skills. This is something that I grew to recognize as an imperative element to my professional success and I am incredibly excited to finally start a career that I am truly excited about -- a role in which I can both develop and hone, as well as acquire the skills that will only become more and more important in our developing world.
    </p>
    <br>
    <div class="back">
      <%= link_to "Back", "/" %>
    </div>
</div>
