<div class="icons">
  <a class="icon-bar" href="https://www.linkedin.com/in/everett-yeaw/"><i class="fa fa-linkedin"></i></a><br>
  <a class="icon-bar "href="https://github.com/eveyv"><i class="fa fa-github"></i></a>
</div>
<div class="home-content">
  <div class="bg-other">
    <h1 class="page-title">Background</h1>
    <p class="text-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae consectetur ante. Pellentesque non consectetur odio, ac euismod velit. Etiam consectetur eros ipsum, vel vulputate diam accumsan vitae. Ut eget vestibulum tortor, at vestibulum elit. Ut vitae nisl feugiat arcu eleifend rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere sem sit amet quam ultricies bibendum. Integer quis ex sit amet lorem vulputate viverra. Fusce accumsan erat justo, at blandit dolor semper et. Nullam leo ipsum, viverra at ipsum suscipit, posuere efficitur lacus.
      <br/>
      <br/>
      Aliquam erat volutpat. Vestibulum molestie ut purus ut porttitor. Etiam nec sapien sollicitudin, euismod nulla id, laoreet ex. Donec lacus sapien, tempus id odio id, viverra ultrices est. Ut consectetur nulla leo, in molestie ante viverra mattis. Morbi elementum metus dictum sollicitudin tincidunt. Quisque viverra nisl sed metus porta condimentum. Vestibulum sit amet tincidunt sapien. Quisque sodales, neque quis sollicitudin ultricies, tortor magna vulputate lorem, nec consequat ligula justo nec sapien. Phasellus finibus fringilla efficitur. Nunc ut nunc eget dui elementum accumsan.
    </p>
    <br>
    <div class="back-div-align">
      <%= link_to "Back", "/", class: "link" %>
    </div>
  </div>
</div>
