
<div class="center-column">
  <h1 class="title">Background</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae consectetur ante. Pellentesque non consectetur odio, ac euismod velit. Etiam consectetur eros ipsum, vel vulputate diam accumsan vitae. Ut eget vestibulum tortor, at vestibulum elit. Ut vitae nisl feugiat arcu eleifend rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere sem sit amet quam ultricies bibendum. Integer quis ex sit amet lorem vulputate viverra. Fusce accumsan erat justo, at blandit dolor semper et. Nullam leo ipsum, viverra at ipsum suscipit, posuere efficitur lacus.

      Aliquam erat volutpat. Vestibulum molestie ut purus ut porttitor. Etiam nec sapien sollicitudin, euismod nulla id, laoreet ex. Donec lacus sapien, tempus id odio id, viverra ultrices est. Ut consectetur nulla leo, in molestie ante viverra mattis. Morbi elementum metus dictum sollicitudin tincidunt. Quisque viverra nisl sed metus porta condimentum. Vestibulum sit amet tincidunt sapien. Quisque sodales, neque quis sollicitudin ultricies, tortor magna vulputate lorem, nec consequat ligula justo nec sapien. Phasellus finibus fringilla efficitur. Nunc ut nunc eget dui elementum accumsan.

      Cras et augue orci. Aliquam erat volutpat. Etiam nisi risus, ultricies in pretium ut, placerat vitae nisl. Suspendisse vulputate leo vitae felis rhoncus mollis. Quisque posuere ullamcorper sodales. Duis congue rutrum orci vel varius. Fusce pellentesque bibendum urna, nec rutrum nibh vehicula vitae. Proin tortor erat, molestie et lobortis ut, iaculis id turpis. Nam posuere, lacus quis malesuada molestie, orci libero feugiat libero, quis fermentum tellus diam vitae ligula. Maecenas nec tincidunt massa, in ornare est. Proin enim justo, ultricies vitae laoreet at, accumsan id lacus. Ut aliquet accumsan congue. Proin tempor nisi feugiat mollis molestie. In at leo enim. Etiam eget pellentesque elit.
      <br/>
      Duis vel lorem id urna convallis consequat vitae nec diam. Donec maximus sit amet nibh ac egestas. Proin nec lorem eu quam sollicitudin maximus. Integer at sagittis quam. Pellentesque eget gravida ipsum, et pharetra leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sit amet eros non neque consequat pellentesque. Duis malesuada magna vel metus lobortis, vel dictum justo feugiat. Pellentesque ac dui enim. Vestibulum faucibus scelerisque convallis. Cras consectetur justo massa. Ut ultricies orci sit amet justo suscipit tempus.
      <br/>
      Proin euismod ullamcorper justo et aliquam. Morbi lacinia nisi magna, vitae sagittis dui fringilla a. Sed facilisis, ex vel faucibus ultricies, ante ex viverra ante, vitae dignissim justo lorem non augue. Donec dolor lacus, efficitur a vehicula nec, semper a lorem. Cras non convallis lectus. Vivamus id tortor at sem blandit pellentesque et nec felis. Pellentesque sagittis quis eros ornare mollis. Donec viverra non orci sit amet congue. Phasellus lorem lacus, gravida in vestibulum ac, iaculis quis tortor. Suspendisse ac ligula id nisl dignissim efficitur. Sed augue est, dignissim ullamcorper metus et, pulvinar tristique sapien. Sed egestas, magna a rutrum dictum, arcu enim pharetra magna, at sodales nisi massa faucibus purus. Vivamus quam metus, porta ut rhoncus id, cursus a odio. Pellentesque eget purus non lorem mattis cursus. Pellentesque pharetra lobortis tellus ut pretium.
    </p>
    <br>
    <div class="back">
      <%= link_to "Back", "/", class: "project" %>
    </div>
</div>
