<div class="center-column">
  <h1 class="title center-column">Contact</h1>
    <p>
      You can reach me via  <%= link_to "LinkedIn", "https://www.linkedin.com/in/everett-yeaw/", class: "project" %> or my <%= link_to "GitHub", "https://github.com/eveyv", class: "project" %>. Otherwise, you can reach me at <strong>everett@everettyeaw.com</strong>.
    </p>
    <br>
    <div class="back">
      <%= link_to "Back", "/", class: "project" %>
    </div>
</div>
