<div class="home-content">
  <div class="bg-contact">
    <h1 class="page-title">Contact</h1>
      <p class="text-content">
        You can reach me via  <%= link_to "LinkedIn", "https://www.linkedin.com/in/everett-yeaw/", class: "external-link" %> or my <%= link_to "GitHub", "https://github.com/eveyv", class: "external-link" %>. Otherwise, you can reach me at <strong>everett@everettyeaw.com</strong>.
      </p>
    <div class="back-div-align">
      <%= link_to "Back", "/", class: "link" %>
    </div>
  </div>
</div>
