<div class="center-column mid-format">
  <h1 class="title">Contact</h1>
    <p>
      Please feel free to reach out to me via my  <%= link_to "LinkedIn", "https://www.linkedin.com/in/everett-yeaw/" %> or my <%= link_to "GitHub", "https://github.com/eveyv" %>. Otherwise, you can reach me at <strong>everett@everettyeaw.com</strong>.
    </p>
    <br>
    <div class="back">
      <%= link_to "Back", "/", class: "project" %>
    </div>
</div>
