@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p, a, {
  font-family: "Quicksand", sans-serif;
  color: #f8f8ff;
}

 ul {
   list-style-type: none;
 }

 img {
   margin-right: 2.5%;
 }

 body{
  background-image:url(https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #f8f8ff;
}

.link {
  margin-right: 2.5%;
  text-decoration: none;
  font-size: 155%;
}

.link:hover {
  font-weight: bold;
  color: #209CEE;
  opacity: 95%;
}

.external-link {
  font-size: 135%;
  text-align: left;
  text-decoration: none;
}

.external-link:hover {
  font-weight: bold;
  color: #209CEE;
  opacity: 95%;
}

.column {
  float: 100%;
  padding: 5px;
  margin: auto;
}

.row {
  display: flex;
}

.home {
  font-size: 28px;
  font-weight: bold;
}

.center-column {
  margin: auto;
  width: 65%;
}

.mid-format {
  padding: 10%;
}

.home-content {
  padding-top: 5px;
  color: #f8f8ff;
}

.logo {
  width: 5%;
  height: 5%;
  padding-top: 1%;
}

.section-title {
  text-decoration: underline;
}

.icons {
  font-size: 225%;
  color: #209CEE;
  float: right;
  padding-top: 10px;
  padding-right: 1%;
}
