@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p, a, {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

 ul {
   list-style-type: none;
 }

 img {
   margin-right: 2.5%;
 }

 body{
  background-image:url(https://cdn.pixabay.com/photo/2016/02/10/00/08/flowers-1190773_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.link {
  margin-right: 2.5%;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
  color: white;
  background-color: #209CEE;
  opacity: 80%;
}

.project:hover {
  font-weight: bold;
  color: white;
  background-color: #209CEE;
  opacity: 80%;
}

.column {
  float: 100%;
  padding: 5px;
  margin: auto;
}

.row {
  display: flex;
}

.home {
  font-size: 28px;
  font-weight: bold;
}

.center-column {
  margin: auto;
  width: 65%;
}

.mid-format {
  padding: 10%;
}

.home-content {
  text-align: center;
  padding-top: 5px;
  color: white;
}

.logo {
  width: 5%;
  height: 5%;
  padding-top: 1%;
}

.icons {
  font-size: 220%;
  color: #ffffff;
  float: right;
  padding-top: 10px;
  padding-right: 1%;
}
