@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p, a, .about {
  font-family: "Quicksand", sans-serif;
}

 ul {
   list-style-type: none;
 }

 img {
   margin-right: 2.5%;
 }

 .background-parent {
  position: relative;
  width: 100%;
}

.link {
  margin-right: 2.5%;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
  color: white;
  background-color: #209CEE;
  opacity: 80%;
}

.project:hover {
  font-weight: bold;
  color: white;
  background-color: #209CEE;
  opacity: 80%;
}

.column {
  float: 100%;
  padding: 5px;
  margin: auto;
}

.row {
  display: flex;
}

.home {
  font-size: 28px;
  font-weight: bold;
}

.badge-container {
  width: 1280px;
  margin: auto;
}

.center-column {
  margin: auto;
  width: 50%;
}

.mid-format {
  padding: 10%;
}

.home-content {
  text-align: center;
  padding-top: 5px;
}

.LI-profile-badge {
  box-shadow: 10px 10px 5px grey;
}

.gh-wrapper {
  box-shadow: 10px 10px 5px grey;
}

.logo {
  width: 5%;
  height: 5%;
  padding-top: 1%;
}

.icons {
  font-size: 200%;
  color: #209CEE;
  float: right;
  padding-top: 10px;
  padding-right: 1%;
}

.parent {
  position: relative;
  text-align: center;
}

.child {
  color: #209CEE;
}
